{{> header}}
		
{{> navbar}}

<!-- Header section -->
<header class="home">
	<div class="content-wrap">
	</div>
</header>
<!-- Header section end -->

<!-- main -->
<main id="main">

{{> podcast-container}}

</main>
<!-- main end -->

{{> footer}}
