//output: ../blog/post1.html, pretty:false
doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Dignitas Youth Group at University of Toronto')
        meta(name='keywords', content='Dignitas, Youth Group, Dignitas Youth Group, University of Toronto Club, AIDS awareness, AIDS Toronto, UofT AIDS')
        meta(name='Fahim Shahreer', content='dignitas.utoronto.ca')
        
        link(rel='stylesheet', href='../css/styles.min.css')
        
    body
        .row.post-header.center.no-padding#hero2
            h1 Dignitas CoffeeHouse
            h4.top40p Posted on: November 10, 2015
        .row.no-padding#post-body
            .col-md-2.col-md-offset-2#sidenotes
                h4 Event:
                p Dignitas CoffeeHouse
                h4 Date: 
                p November 12, 2015
                h4 Time:
                p 8:30am -11:00pm
                h4 Location:
                p Arbor Room, Hart House
            .col-md-5#post-content
                p Take a well-deserved break and come out to our first annual coffeehouse! Sink into a couch, release the inner foodie in you, and enjoy a cup of tea with delicious desserts and light snacks!
                p It’s not a coffeehouse without your amazing talent of course! You’re in for a night of amazing performances by talented singers, dancers, and poets! Feeling brave? Why not step into the spotlight and show the world what you’ve got?
                img.post-image(src="images/post1-1.jpg", alt="")
                p If you have any burning questions or if you wish to perform, email us at dignitasyouth.uoft@gmail.com
            
            
