//output: blog/posts.html
doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Dignitas Youth Group at University of Toronto')
        meta(name='keywords', content='Dignitas, Youth Group, Dignitas Youth Group, University of Toronto Club, AIDS awareness, AIDS Toronto, UofT AIDS')
        meta(name='Fahim Shahreer', content='dignitas.utoronto.ca')
        
        link(rel='stylesheet', href='css/styles.min.css')
