body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    background-color: #fff;
}

/* NAVBAR */
.navbar {
    background-color: #FFFFFF;
    position: fixed;
    top: 0; 
    width: 100%; 
    height: 2.5em;
    z-index: 3;
    box-shadow: #F0F5F9 0.1em 0.1em 0.3em;
}

.logo {
    height: 1.8em;
    margin: 1em;
}

a {
    letter-spacing: 0.05em;
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
    color: #808080;
    margin-left: 0.8em;
}

a:hover {
    color: #19415A;
    background-color: #E6E6E6;
    border-radius: 10px;
    transition: 0.5s;
}

.sub {
    left: 10vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

.sub .span_1, .sub .span_2 {
    display: block;
}

.sub .span_1 {
    font-weight: 300;
}

.sub .span_2 {
    font-weight: 600;
}

/* Section a */

.section-a {
    z-index: 1; 
    position: relative;
    width: 100vw;
    height: 120vh;
}

.section-a #igem {
    position: relative;
    top: 16vh;
    left: 7vw;
    width: 60vh;
    z-index: 2;
}

.section-a #background {
    position: absolute;
    top:0em;
    left: 5vw;
    width: 60%;
    z-index: -1;
}

.section-a #type {
    position: relative;
    top: 0.3em;
    left: 0vw;
    font-size: 0.7em;
    font-weight: 200;
    font-family: 'IBM Plex Mono', monospace;
    display: inline;
    z-index: 2;
}

.cursor {
    border-right: .07em solid;
	animation: caret 1s steps(1) infinite;
}
@keyframes caret {
	50% {
	  border-color: transparent;
	}
}

.section-a #protein {
    position: absolute;
    top: 50vh;
    width: 100vw;
    padding: 1em;
}

.section-a #protein #intro {
    position: relative;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6em;
    font-weight: 200;
}

.section-a #protein #viewport {
    position: relative;
    display: block;
    margin: auto;
    width:70vw; 
    height:70vw; 
    top: 2vh;
}

.section-a #protein #tag {
    position: relative;
    font-size: 0.6em;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}

/* Section b */

.section-b {
    z-index: 1; 
    top: 10vh;
    position: relative;
    background-color: #A0D7EB;
    width: 100vw;
    padding: 2em;
}

.section-b .sub {
    color: #fff;
}

.section-b #intro {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.7em;
    color: #333;
    margin-top: 2em;
}

.p {
    position: relative;
    display: block;
    margin: auto;
}

.btn {
    position: relative;
    display: block;
    margin: auto;
    top: 1em;
    color: #338BDE;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    background-color: #daeef2;
    border-radius: 10px;
    padding: 0.8em 1.3em;
    margin: 1em;
    cursor: pointer;
}

/* Section c */

.section-c {
    z-index: 1; 
    top: 10vh;
    position: relative;
    width: 100vw;
    padding: 2em;
}

.section-c #project {
    position: relative;
    top: 5vh;
    width: 80vw;
}

.section-c #project #P1, .section-c #project #P2, .section-c #project #P3 {
    cursor: pointer;
}

.section-c #project #click {
    font-size: 0.6em;
}

.credit {
    position: relative;
    top: 3em;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.5em;
    font-style: italic;
}

.placeholder {
    display: inline;
    position: relative;
    bottom: 40vh;
    left: 70vw;
    color: #DAEEF2;
}

/* Section d */

.section-d {
    z-index: 1; 
    top: 10vh;
    position: relative;
    width: 100vw;
    padding: 2em;
}

.slick-slide {
    margin: 2em 2em;
}

.slick-slide img {
    width: 4em;
    display: block;
    filter: grayscale(100%);
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-initialized .slick-slide
{
    display: block;
}

.footer .fa {
    cursor: pointer;
    color: #9E9E9E;
}

.footer #text {
    cursor: none;
    font-size: 0.6em;
    color: #9E9E9E;
}

@media (min-width: 700px) {
    
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .section-a #background {
        top:0em;
        width: 65%;
    }

    .section-a #protein #viewport {
        width:60vw; 
        height:60vw; 
        top: 2vh;
    }

}

@media (min-width: 1000px){

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .section-a #background {
        top:0em;
        width: 65%;
    }

    .section-a #protein {
        position: absolute;
        top: 30vh;
    }

    .section-a #protein #viewport {
        width:60vw; 
        height:60vw; 
        top: 2vh;
    }

    .section-b {
        padding: 6em;
    }

    .section-c {
        padding: 6em;
    }

    .section-d {
        padding: 6em;
    }

    .footer {
        margin: 1em;
        margin-top: 2em;
    }

}
