nav {
	position: fixed;
	z-index: 1000;
	width: 100%;
	background: $dark-cyan;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	// box-shadow: 0px 2px 30px black;
	border-bottom: 0.25px solid black;

	.navbar-left {
		flex: 1;
	}
	.navbar-right {
		flex: 2;
		text-align: right;
		position:relative;
		.menusign {
			display: none;
		}
	}
	ul {
		margin: 0;
		li {
			display: inline-block;
			margin-left: 5px;
			margin-right: 5px;
			a {
				color: $white;
				text-decoration: none;
				transition: all 0.15s $animation-1;
				&:hover {
					color: lighten($cyan, 20);
				}
			}
		}
	}
}

.mobile-menu {
	display: none;
}

@include mobile {
	nav {
		.navbar-left {
			flex: 3;
			text-align: left;
		}
		.navbar-right {
			flex: 1;
			.menusign {
				display: block;
				color: white;
				padding-right: 2rem;
				.fa-times {display: none;}
				.fa-bars {display: block;}
			}
			.desktop-menu {
				display: none;
			}
		}
	}

	.mobile-menu {
		display: none;
		width: 100%;
		box-shadow: 0px 10px 20px black;
		ul {
			padding: 0;
			li {
				display: block;
				border-bottom: 0.25px solid black;
				margin: 0;
				padding: 0;
				&:first-child {
					border-top: 0.25px solid black;
				}
				a {
					display: block;
					margin: 0;
					padding: 1.5rem;
				}
			}
		}
	}
}
