@mixin border {
  border: 1px solid red;
}

@mixin border-radius {
  border-radius: 50px;
}

.podcast-container {
  padding: 0 12rem;
}

.podcast {
  @include border-radius;
  border: 1em solid #eee;
  text-align: left;
  padding: 4rem;

  h2 {
    margin-bottom: 0;
    & + p {
      margin-top: 0;
      margin-bottom: 3.2rem;
    }
  }
  h3 {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 0;
    margin-bottom: 3em;
  }
}

.infobox {
  margin-bottom: 3.2rem;
  // align-items: center;
}

.epiNumber {
  // @include border;
  @include border-radius;
  // border-radius: 30px;
  // grid-column: 1;
  height: 200px;
  width: 200px;
  padding: 2em;
  background: $red;
  color: $white;
  margin-right: 4em;
  h1 {
    font-size: 100px;
    line-height: 105px;
    margin: 0;
    padding: 0;
  }
}

.description {
  // margin-bottom: 3.2rem;
  text-align: left;
}

.download {

}

.audio {
  width: 100%;
  border-radius: 50px;
}

.mejs-time-rail {
  color: green;
}

@include mobile {

  .podcast-container {
    padding: 0 3rem;
  }
  .infobox {
    align-items: center;
    text-align: center;
    flex-flow: column wrap;
  }
  .epiNumber {
    border-radius: 25px;
    margin-right: 0;
    text-align: left;
    height: 100px;
    width: 100px;
    padding: 2em;
    h1 {
      font-size: 50px;
      line-height: 52.5px;
    }
  }
  .description {
    text-align: center;
  }
}

@include tablet {

  .podcast-container {
    padding: 0 3rem;
  }
  .infobox {
    align-items: center;
    text-align: center;
    flex-flow: column wrap;
  }
  .epiNumber {
    border-radius: 25px;
    margin-right: 0;
    text-align: left;
    height: 100px;
    width: 100px;
    padding: 2em;
    h1 {
      font-size: 50px;
      line-height: 52.5px;
    }
  }
  .description {
    text-align: center;
  }
}
