<div class="top">
    <div class="break-30"></div>
    <span class="intro-title margin-side"> Who</span>
    <br>
    <span class="intro-title title-bold margin-side"> <mark class="purple">Are We </mark></span>
    <div class="margin-side">
        <p class="para">
            iGEM stands for International Genetic Engineered Machine and is an international synthetic biology competition open to high school, undergraduate and graduate students. Each year’s competition begins in January and culminates with a Giant Jamboree in
            October of the same year. iGEM Toronto is an interdisciplinary team that is always eager to learn from each other’s expertise. We identify problems in our community, propose a synthetic biology-based solution, and execute it to the best of
            our ability. It’s a friendly group where computer scientists learn the ethical implications of their work, where biologists learn data analysis tools using machine learning, where engineers learn about the beautiful complexity of the cell,
            where bioethicists actively inquire about the possibilities of synthetic biology, where we all work together toward synthesizing our ideas into something bigger than any one of us could have achieved alone.
        </p>
    </div>

    <div class="contents">

        <div *ngFor="let item of aboutList" class="showing">
            <div [ngClass]="{'grey-bg' : item.id%2 ==1}">
                
                <div class="margin-side">
                    <div class="top-50"></div>
                    <div class="right" >
                        <span class="title" [ngClass]="{'purple' : item.id%2 ==0}">{{item.title}}</span>
                        <br>
                        <div class="margin-30"></div>
                        <span class="description">{{item.description}}</span>
                        <br>
                        <div class="margin-30"></div>


                    </div>
                    <img class="photo" *ngIf="item" src={{item.url}} alt="team_img">

                    <div class="bottom-50">
                    </div>
                </div>
            </div>
        </div>

        <div *ngFor="let item of aboutList" class="noshow">
            <div [ngClass]="{'grey-bg' : item.id%2 ==1}">
                
                <div class="margin-side">
                    <div class="top-50"></div>
                    <div class="right" [style.background-image]="'url(item.url)'">
                        <span class="title" [ngClass]="{'purple' : item.id%2 ==0}">{{item.title}}</span>
                        <br>
                        <div class="margin-30"></div>
                        <span class="description">{{item.description}}</span>
                        <br>
                        <div class="margin-30"></div>


                    </div>

                    <div class="bottom-50">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="top-50"></div>
    <div class="links margin-side">
        <a routerLink="/our-teams">Join our team <img src="../../assets/main/arrow_blue.svg" alt="img" class="arrow"></a>
        <br>
        <div class="margin-30"></div>
        <a href="/our-projects">View past projects <img src="../../assets/main/arrow_blue.svg" alt="img" class="arrow"></a>
    
        <br>
        <div class="margin-30"></div>
        <a href="">Subscribe to newsletters <img src="../../assets/main/arrow_blue.svg" alt="img" class="arrow"></a>
    
    </div>
</div>

<app-footer></app-footer>
<!-- <div class="top">
    <div class="break-30"></div>
    <span class="intro-title margin-side"> Who</span>
    <br />
    <span class="intro-title title-bold margin-side"> <mark class="purple">Are We </mark></span>
    <br />
    <div class="margin-side">
        <p class="para">
            iGEM stands for International Genetic Engineered Machine and is an international synthetic biology competition open to high school, undergraduate and graduate students. Each year’s competition begins in January and culminates with a Giant Jamboree in
            October of the same year. iGEM Toronto is an interdisciplinary team that is always eager to learn from each other’s expertise.
        </p>
        <p class="para">
            We identify problems in our community, propose a synthetic biology-based solution, and execute it to the best of our ability. It’s a friendly group where computer scientists learn the ethical implications of their work, where biologists learn data analysis
            tools using machine learning, where engineers learn about the beautiful complexity of the cell, where bioethicists actively inquire about the possibilities of synthetic biology, where we all work together toward synthesizing our ideas into
            something bigger than any one of us could have achieved alone.
        </p>
    </div>

    <div class="contents">
        <div *ngFor="let item of aboutList">
            <div [ngClass]="{'grey-bg' : item.id%2 ==1}">
                <div class="margin-side">
                    <div class="top-50"></div>
                    <div class="right">
                        <span class="title" [ngClass]="{'purple' : item.id%2 ==0}">{{item.title}}</span>
                        <br>
                        <div class="margin-30"></div>
                        <span class="description">{{item.description}}</span>
                        <br>
                        <div class="margin-30"></div>


                    </div>
                    <img class="photo" *ngIf="item" src={{item.url}} alt="team_img">

                    <div class="bottom-50">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-50"></div>
    <div class="links margin-side">
        <a routerLink="/our-teams">Join our team <img src="../../assets/main/arrow_blue.svg" alt="img" class="arrow"></a>
        <br>
        <div class="margin-30"></div>
        <a href="/our-projects">View past projects <img src="../../assets/main/arrow_blue.svg" alt="img" class="arrow"></a>

        <br>
        <div class="margin-30"></div>
        <a href="">Subscribe to newsletters <img src="../../assets/main/arrow_blue.svg" alt="img" class="arrow"></a>

    </div>



</div>
<app-footer></app-footer> -->