//output:../../CHANGETHIS.html, pretty:false

doctype html
html(lang='en')
    head
        title PAGE NAME
        meta(name='copyright', content=COPYRIGHT)
        meta(name='description', content=DESCRIPTION)
        meta(name='keywords', content=KEYWORDS)
        meta(name='viewport', content=width=device-width, initial-scale=1)
        link(href='styles.min.css', rel='stylesheet')

    body
        include navbar

        include footer
        script(src='asset/js/main.js')
