.title {
    color: #19415A;
    font-family: Avenir;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.para {
    color: #19415A;
    font-family: Avenir;
    font-size: 25px;
}

.margin-20 {
    margin-bottom: 20px;
}

.margin-10 {
    margin-bottom: 10px;
}

mark {
    display: inline-block;
    height: 0.35em;
    line-height: 0.05;
    background-color: #66E0FA;
    color: #17425A !important;
}

.purple {
    background-color: #C8B0E3;
}

.content {
    margin: 30px 40px;
}

.medal {
    float: right;
    position: relative;
    margin-right: -40px;
    width: 250px;
    margin-top: 40px;
}

.inclinepapa {
    display: inline-block;
    width: 75%;
}

.wiki {
    color: #19415A;
    font-family: Avenir;
    font-size: 28px;
}

.indent {
    margin-left: 10px;
}