<footer class="site-footer">

    <div class="wrapper">

        <h2 class="footer-heading">{{ site.title }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col  footer-col-1">
                <ul class="contact-list footer-list">
                    <li><i class="fa fa-envelope"></i><a href="http://igem.skule.ca">igem.skule.ca</a></li>
                    <li><i class="fa fa-globe"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </div>

            <div class="footer-col  footer-col-2">
                <ul class="social-media-list footer-list">
                    {% if site.github_username %}
                    <li>
                        <i class="fa fa-github"></i>
                        <a href="https://github.com/{{ site.github_username }}"> <span class="username">{{ site.github_username }}</span></a>
                    </li>
                    {% endif %} {% if site.twitter_username %}
                    <li>
                        <i class="fa fa-twitter"></i>
                        <a href="https://twitter.com/{{ site.twitter_username }}"><span class="username">{{ site.twitter_username }}</span></a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer-col  footer-col-3">
                <ul class="footer-list">
                    <li class="rss-subscribe"><i class="fa fa-rss"></i>subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></li>
                </ul>
            </div>
        </div>

    </div>

</footer>
