body {
	margin: 0;
}

/* grid for section content */
.grid-1 {
	display: grid;
	grid-template-columns: 1fr repeat(2, minmax(auto, 40em)) 1fr;
}
.grid-2 {
	display: grid;
	grid-template-columns: 10em 1fr 1fr 10em;
}

.content-wrap {
	padding: 50px 0;
	grid-column: 2/4;
}

/* new stuff from may 8 */
.container {
	padding: 50px 5%;
	max-width: 700px;
	.row {
		padding: 20px;
	}
}

%flex {
	display: flex;
}

.flex-row {
	@extend %flex;
	flex-flow: row wrap;
}
.flex-col {
	@extend %flex;
	flex-flow: column;
}
