/* font-size and line-height */
@mixin font-size-line-height($font-size, $line-height-ratio) {
	font-size: $font-size;
	line-height: $font-size * $line-height-ratio;
	@media(max-width: 700px) {
		line-height: $font-size * 1.2;
	}
}

@mixin antialiasing($type:antialiased) {
  /* antialiased, none, subpixel-antialiased*/
	-webkit-font-smoothing: $type;
	font-smoothing: $type;
	font-smooth: always;
}

@mixin display($type:flex){
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
}

/* MEDIA QUERIES */
@mixin mobile {
  @media (max-width: #{$mobile-breakpoint}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$mobile-breakpoint}) and (max-width: #{$tablet-breakpoint - 1px}) {
    @content;
  }
}
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    @content;
  }
}
@mixin print {
  @media print {
    @content;
  }
}
