/* COLORS */
$white: white;
$cyan: #47b3be;
$yellow: #f6cd40;
$dark-cyan: #17425a;
$red: #ed365e;
$grey: #c0caca;

/* Animations */
$animation-1: ease-in-out;

/* font variable: line-height-ratio */
$line-height-ratio: 1.6;

/* Media Query variables */
$mobile-breakpoint: 760px;
$tablet-breakpoint: 1024px;
