/* Headers */


/* Sections */
section#intro {
	background-color: $cyan;
}

section#what-we-do {
	background-color: $yellow;
}

section#timeline {
	background-color: $dark-cyan;
}

section#current-project {
	background-color: $white;
}

section#past-projects {
	background-color: $red;
}

section#sponsors {
	background-color: $white;
}
