<div class="content">
    <div class="break-30"></div>
    <span class="intro-title margin-side">Why</span>
    <br />
    <span class="intro-title title-bold margin-side"> <mark class="purple">Sponsor Us </mark></span>
    <br />

    <div class="margin-75"></div>
    <div class="flex-container">
        <div class="the-container">
            <img src="../../assets/sponsor/one.svg" alt="first">
            <div class="centered-text">Affirm your company’s stance on sustainability</div>
        </div>

        <div class="the-container">
            <img src="../../assets/sponsor/two.svg" alt="first">
            <div class="centered-text">Advertise to an international biotech audience</div>
        </div>
        <div class="the-container">
            <img src="../../assets/sponsor/three.svg" alt="first">
            <div class="centered-text">
                Reach talented students at the University of Toronto</div>
        </div>


    </div>
    <div class="margin-75"></div>
    <div class="para">
        To realize our dream of highly efficient bio-recycling solutions, we need funding to cover for reagents and plasmids to run wet lab experiments, and supercomputer costs to train our machine learning models. Our project wouldn’t be possible without the
        generous support of our sponsors.
    </div>
    <div class="margin-75"></div>
    <span class="subtitle">What we offer</span>
    <div class="margin-35"></div>
    <p class="para2">We present our work to an international audience of 6000+ students, industry professionals, and professors from around the world. You will be contributing to a cause that is aligned with the United Nations Sustainable Development Goals and the Government
        of Canada’s 2030 Agenda for Sustainable Development. We have sponsorship tiers where we will name the top three performing bio-recycling enzymes after your company.</p>
    <div class="margin-35"></div>
    <button mat-button class="blast">
    Download Sponsorship Package
</button>
    <button mat-button class="blast second" routerLink="/contact-us">
    Contact Us
</button>


</div>
<app-footer></app-footer>