$black: #171717
$yellow: #EAEA51
$faded-yellow: white
$red: red
$light-green: #07e08e
$white: #efefef
$green: #07c67e

.white
    color: $white
.black
    color: $black
.yellow
    color: $yellow
.light-green
    color: #07e08e
