html,
body
    margin: 0
    padding: 0
    height: 100%
.container-fluid
    padding: 100px
.container-navbar
    padding: 10px 100px
    padding-bottom: 0
.row
    margin: 0
.row.full-height
    height: 90%
.row.tq-height
    height: 75%
.row.half-height
    height: 40%
.columns
    margin: 0
.header
    position: absolute
    // background-color: rgba(255,255,255,0.7)
    // border: solid 20px $yellow
    width: 30%
    height: 50%
    left: 35%
    top: 20%
    margin: auto
    text-align: center

.bc-yellow
    background-color: $yellow
.bc-green
    background-color: $green
.bc-black
    background-color: $black
.bc-black-pattern
    // background: repeating-linear-gradient(90deg,$white,$white 2px,$black 1px,$black 20%,$black 1px)
    
@media only screen and (max-width: 500px)
    .row.container-fluid
        padding-left: 15px
        padding-right: 15px
nav
    margin-bottom: 20px
#particles-js
    text-align: center
    h1
        background-color: none
.particle
    border-bottom: solid 3px $light-green
.pipette
    padding-top: 50px
    padding-left: 50px
