.navbar
  // background-color: $faded-yellow
  background-color: white
  border-bottom: solid 5px $light-blue

.navbar-default
  .navbar-brand
    color: $black
    padding-top: 5px

  .navbar-nav
    li
      padding: 0 15px

      a
        color: $black
        font-family: $font-secondary
        font-weight: 400
        font-size: 18px

        &:hover
          color: $light-blue
          font-weight: 400

      button#join_us
        padding: 10px 25px 35px 25px
        color: darken($light-blue, 5)
        font-family: $font-secondary
        font-weight: 400
        font-size: 18px
        border: solid 2px darken($light-blue, 5)
        transition: all 0.1s ease-in-out

        &:hover
          color: white
          background-color: darken($light-blue, 5)
          font-weight: 400

@media only screen and (max-width: 600px)
  .navbar-default
    .container-navbar
      padding: 10px 50px

      #navbar
        ul
          li
            text-align: center
            padding-top: 10px
