.navbar
    // background-color: $faded-yellow
    background-color: white
    border-bottom: solid 5px $light-green
.navbar-default
    .navbar-brand
        color: $black
        padding-top: 5px
    .navbar-nav
        li
            padding: 0 15px
            a
                color: $black
                font-family: $font-secondary
                font-weight: 400
                font-size: 18px
                &:hover
                    color: $light-green
                    font-weight: 400

@media only screen and (max-width: 600px)
    .navbar-default
        .container-navbar
            padding: 10px 50px
            #navbar
                ul
                    li
                        text-align: center
                        padding-top: 10px
