.bold {
    font-family: Avenir;
    font-size: 30px;
    font-weight: bold;
    color: #1D475E
}

.light {
    font-family: Avenir;
    font-size: 30px;
    color: #1D475E
}

.profile {
    width: 40%;
    height: 50%;
    border-radius: 10px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
}

.text {
    margin-top: 7%;
    margin-left: 5%;
}