
<!-- navbar -->
<nav>
	<div class="navbar-left">
		<h3 id="logo" class="text-white">iGEM<span class="text-cyan">TO</span></h3>
	</div>
	<div class="navbar-right">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/team.html">Team</a></li>
			<li><a href="/podcast.html">Podcast</a></li>
			<li><a href="/contacts.html">Contacts</a></li>
		</ul>
	</div>
</nav>
<!-- navbar end -->
