
<!-- navbar -->
<nav>
	<div class="navbar-left">
		<h3 id="logo" class="text-white">iGEM<span class="text-cyan">TO</span></h3>
	</div>
	<div class="navbar-right">
		<div class='menusign'>
			<i class="fas fa-bars fa-3x" onclick="togglemenu()"></i>
			<i class="fas fa-times fa-3x" onclick="togglemenu()"></i>
		</div>
		<div class="desktop-menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/team.html">Team</a></li>
				<li><a href="/podcast.html">Podcast</a></li>
				<li><a href="/contacts.html">Contacts</a></li>
			</ul>
		</div>
	</div>
	<div class="mobile-menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/team.html">Team</a></li>
			<li><a href="/podcast.html">Podcast</a></li>
			<li><a href="/contacts.html">Contacts</a></li>
		</ul>
	</div>
</nav>
<!-- navbar end -->
