<!-- section: podcast container -->
<section class='podcast-container'>
  <div class="podcast">
    <div class="infobox flex-row">
      <!-- Episode Number -->
      <div class="epiNumber">
        <h1>Epi.<br>06</h1>
      </div>
      <div class="">
        <!-- Date and Title -->
        <div class="title">
          <h1>The Moral Complexity of Genetics</h1>
        </div>
        <!-- Date, Description, Download-->
        <div class="description">
          <p>July 14, 2017</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="download">
            <p>Download MP3 (28 MB)</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Audio -->
    <audio class='audio' controls>
      <source type="audio/mpeg" src="http://media.blubrry.com/codepen_radio/p/codepen-podcast.s3.amazonaws.com/100.mp3?_=1">
    </audio>
  </div>
</section>
