<!-- section: podcast container -->
<section class="podcast-container">
  <div class="podcast">
    <!-- Episode number and description -->
    <div class="">
      <!-- Episode Number -->
      <div class="">
        <h1>Epi.<br>01</h1>
      </div>
      <!-- Description -->
      <div class="">
        <h2>Episode Number Something</h2>
        <h3>January 1 1999</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <!-- Audio -->
    <div class="audio">

    </div>
  </div>
</section>
<!-- section: podcast container -->
