<!-- section: project-timeline -->
<section id="timeline" class="grid-1">
	<div class="content-wrap">
		<div class="underline small middle cyan">
			<h1 class="text-white">project timeline</h1>
		</div>
	</div>
</section>
<!-- section: project-timeline end -->
