/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0;
}

html {
    font-size: calc(1em + 1vw)
}

.mat-dialog-container {
    border-radius: 20px !important;
}

.slick-wrapper {
    width: 1000px;
    margin: 20px auto;
}

.slick-prev:before,
.slick-next:before {
    color: #19415A !important;
}

body .slick-prev,
body .slick-next {
    height: 80px !important;
    width: 70px !important;
    z-index: 9;
}

.slick-slider {
    div {
        &:focus {
            outline: 2px;
            color: aqua;
        }
    }
}